.cards-list {
  width: 85vw;
  margin: 20px auto 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
}

.buttonPag {
  display: inline-block;
  padding: 10px 19px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #a3a3a34f;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.buttonPag:hover {
  color: #b81717;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #000;
}

.selOption {
  display: inline-block;
  padding: 10px 19px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #a3a3a34f;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.selOption:hover {
  color: #12386b;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #000;
}

.box-filter {
  display: flex;
  margin-right: 30px;
}

.all-select {
  display: flex;
}

.ordenCard {
  color: #5f8c8f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
