.card-container {
  display: flex;
  flex-direction: column;
  background-color: #4f9999;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  align-items: center;
  width: 250px;
  height: 450px;
  text-decoration: none;
  color: black;
}

.card-container:hover {
  transform: scale(1.05);
}

.image {
  border-radius: 20px;
  border: 2px solid rgb(199, 89, 89);
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.texto {
  text-decoration: underline;
}
