/* Agrega estos estilos a tu archivo CSS */

.box-container {
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.label-input {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.check-boxPlat {
  display: inline-block;

  align-items: center;
  margin-bottom: 15px;
  margin-right: 10px;
}

.check-boxPlat label {
  margin-bottom: 5px;
}

/* .check-boxPlatContainer {
  display: flex;
  flex-wrap: wrap;
} */

.check-boxPlat div {
  margin-right: 40px;
  margin-bottom: 20px;
}

.check-boxPlatContainer label {
  display: inline-block;
  margin-right: 5px;
}

.submit {
  width: fit-content;
  align-self: center;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit:hover {
  background-color: #267bb5;
  transform: scale(1.1);
}

/* Agrega otros estilos según sea necesario */
